# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/
birefnet-env/
realesrgan-env/

# macOS
.DS_Store

# Python version manager
.python-version

# Model weights
weights/

# IDE
.vscode/
.idea/
